/*.button{
-fx-background-color: pink;
}

.label{
-fx-font-family: "Inter";
-fx-font-style: normal;
-fx-font-weight: regular;
-fx-font-size: 15px;
}



        .root{
-fx-background-color: yellow;
}
*/
